@font-face {
  font-family: "PrimaryFont";
  font-weight: 100;
  font-style: normal;
  src: url("./assets/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "PrimaryFont";
  font-weight: 100;
  font-style: italic;
  src: url("./assets/Roboto/Roboto-LightItalic.ttf");
}

@font-face {
  font-family: "PrimaryFont";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "PrimaryFont";
  font-weight: 400;
  font-style: italic;
  src: url("./assets/Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: "PrimaryFont";
  font-weight: 700;
  font-style: normal;
  src: url("./assets/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "PrimaryFont";
  font-weight: 700;
  font-style: italic;
  src: url("./assets/Roboto/Roboto-BoldItalic.ttf");
}